// Fonts

$font: 'Yantramanav', sans-serif;

// Colors

$white: #fff;
$black: #000;
$green: #004E2B;
$light-green: #99AAA1;
$grey: #E6E6DF;
$darker-grey: #E6E6DF;
$lite-grey: #E6E6DF;
$greener: #004E2B;
$dark-green: #004E2B;

// Transitions

$tr-bg: background 0.2s ease-in-out;
$tr-shdw: box-shadow 0.2s ease-in-out;
$tr-clr: color 0.2s ease-in-out;
$tr-opc: opacity 0.2s ease-in-out;
$tr-all: all 0.2s ease-in-out;