.page-worker {

  .top-block {
    background: #F7F7F7;
    padding: 120px 0 170px 0;
    @include breakpoint(1280) {
      padding: 75px 0;
    }
    .container-fluid {
      padding: 0 15%;
      @include breakpoint(1440) {
        padding: 0 5%;
      }
      .row {

        .col-md-5 {

          h1 {
            color: $black;
            @include breakpoint(992) {
              margin: 0 0 35px 0;
            }
          }

          .text {

            p {
              margin: 36px 0;
            }
            ul {
              list-style: none;
              padding: 0 150px 0 0;
              margin: 0;
              li {
                position: relative;
                padding-left: 100px;
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                &:last-of-type {
                  margin-bottom: 0;
                }
                &:before {
                  content: '';
                  width: 27px;
                  height: 27px;
                  background: url("../images/icon-plus.svg");
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: contain;
                  position: absolute;
                  left: 0;
                }
                h3 {
                  @include font(30px, $black, 400, 1.3);
                  margin: 0 0 30px 0;
                }

                p {
                  @include font(20px, $black, 400, 1.3);
                  opacity: 0.6;
                  margin: 0;
                }
              }
            }
          }
        }

        .col-md-1 {

        }

        .col-md-6 {

          h3 {
          }
        }
      }
    }
  }

  .partner-block {

    .container-fluid {

      .row {

        .col-md-6 {

          h2 {

          }

          p {

          }
        }
      }
    }
  }
}