.page-ecoblock {

  .wrapper {
    width: 87%;
  }
  .top-block {
    background: $lite-grey;
    position: relative;
    //min-height: 993px;
    padding-top: 120px;
    @include breakpoint(1024) {
      overflow-x: hidden;
    }
    .lego-block {
      position: absolute;
      top: 29.7px;
      right: 21%;
      @include breakpoint(1024) {
        right: 0;
        transform: translateX(50%);
      }
      img {
        width: 100%;
        height: auto;
      }
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
      position: relative;
      @include breakpoint(1024) {
        flex-direction: column;
      }
      .left {
        width: calc(100% / 12 * 5);
        padding-top: 121px;
        @include breakpoint(1024) {
          width: 100%;
          margin-bottom: 80px;
          padding-top: 0;
        }
        .logo {
          margin-bottom: 74px;
          img {
            width: 100%;
            height: auto;
          }
        }

        .title {
          margin-bottom: 37px;
          h1 {
            color: $black;
          }
        }

        .text {
          margin-bottom: 50px;
        }

        .button {

          .btn {
            background: #039C57;
            color: #fff;
            padding: 20px 65px;
            border-radius: 0;
            border: 2px solid #039C57;
            -webkit-transition: all, 0.2s;
            -moz-transition: all, 0.2s;
            -ms-transition: all, 0.2s;
            -o-transition: all, 0.2s;
            transition: all, 0.2s;
            &:hover {
              border: 2px solid #039C57;
              background: transparent;
              color: #039C57;
            }
          }
        }
      }

      .right {
        width: calc(100% / 12 * 6);
        position: relative;
        display: flex;
        justify-content: flex-end;
        z-index: 1;
        @include breakpoint(1024) {
          width: 100%;
        }
        .hero-image {
          max-height: 967px;
          min-height: 967px;
          width: 94%;
          height: 100%;
          clip-path: polygon(23% 0, 100% 0, 100% 77%, 71% 77%, 71% 100%, 0 100%, 0 23%, 23% 23%);
          @include breakpoint(1024) {
            //clip-path: none;
            max-height: unset;
            min-height: unset;
            height: unset;
            width: 100%;
            padding-top: 50%;
          }
          @include breakpoint(768) {
            padding-top: 100%;
          }
        }
      }
    }
  }
  .info-block {
    background: $greener;
    margin-top: -136px;
    position: relative;
    padding: 256px 0 219px 0;
    .lego-block {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(50%);
      img {
        width: 100%;
        height: auto;
      }
    }
    .wrapper {
      display: flex;
      justify-content: space-between;
      @include breakpoint(1024) {
        flex-direction: column;
      }
      .left {
        width: calc(100% / 12 * 4);
        @include breakpoint(1024) {
          width: 100%;
          margin-bottom: 80px;
        }
        .subtitle {
          margin-bottom: 11px;
          p {
            @include font(20px, $white, 400, 1.7);
            margin: 0;
            opacity: 60%;
          }
        }

        .title {
          margin-bottom: 37px;
          h2 {
            @include font(60px, $white, bold, 1.2);
            margin: 0;
          }
        }

        .text {
          margin-bottom: 24px;
          p {
            @include font(20px, $white, 400, 1.2);
            margin: 0;
            opacity: 60%;
          }
        }

        .subtext {

          h2 {
            @include font(30px, $white, bold, 1.3);
            margin: 0;
          }
        }
      }

      .right {
        width: calc(100% / 12 * 6);
        @include breakpoint(1024) {
          width: 100%;
        }
        ul {
          padding: 0;
          li {
            list-style: none;
            @include font(30px, $white, 400, 1.2);
            opacity: 60%;
            position: relative;
            padding: 0 0 63px 119px;
            @include breakpoint(480) {
              padding: 0 0 15% 80px;
              font-size: 20px;
            }
            &:before {
              content: '';
              background: url("../images/ecoplus.svg") center / contain no-repeat;
              width: 68px;
              height: 74px;
              position: absolute;
              left: 0;
              top: 0;
              transform: translateY(-45%);
              @include breakpoint(480) {
                width: unset;
                height: unset;
                padding: 10%;
              }
            }
          }
        }
      }
    }
  }
  .info-block-image {
    margin-top: -130px;
    .wrapper {
      display: flex;
      @include breakpoint(1024) {
        flex-direction: column;
      }
      .left {
        width: 50%;
        @include breakpoint(1024) {
          width: 100%;
        }
        .left-image {
          max-height: 967px;
          min-height: 967px;
          width: 94%;
          height: 100%;
          clip-path: polygon(77% 23%, 100% 23%, 100% 100%, 29% 100%, 29% 77%, 0 77%, 0 0, 77% 0);
          @include breakpoint(1024) {
            max-height: unset;
            min-height: unset;
            width: 100%;
            height: unset;
            padding-top: 50%;
            //clip-path: 100%;
          }
          @include breakpoint(768) {
            padding-top: 100%;
          }
        }
      }

      .right {
        width: 50%;
        padding-top: 343px;
        padding-left: 76px;
        @include breakpoint(1024) {
          width: 100%;
          padding-top: 80px;
          padding-left: 0;
        }
        .title {

          h2 {

          }
        }

        .list {

          ul {
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            row-gap: 50px;
            li {
              list-style: none;
              width: 50%;
              @include font(20px, $black, 400, 1.2);
              padding-left: 48px;
              position: relative;
              @include breakpoint(480) {
                width: 100%;
              }
              &:before {
                content: '';
                background: url("../images/ecoplusgreen.svg");
                width: 33px;
                height: 36px;
                position: absolute;
                left: 0;
                top: 0;
                transform: translateY(-30%);
              }
            }
          }
        }
      }
    }
  }
  .boxes-block {
    padding: 280px 0;
    @include breakpoint(1024) {
      padding: 80px 0;
    }
    .wrapper {

      .title {
        margin-bottom: 56px;
        h2 {
          margin: 0;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include breakpoint(1024) {
          gap: 16px;
        }
        .box {
          width: calc(100% / 12 * 4 - 8px);
          @include breakpoint(1024) {
            width: calc(50% - 8px);
          }
          @include breakpoint(768) {
            width: 100%;
          }
          .top {
            background: $lite-grey;
            padding: 87px 65px 197px 67px;
            @include breakpoint(480) {
              padding: 40px 20px
            }
            .title {
              margin-bottom: 20px;
              h3 {
                color: $greener;
                font-weight: bold;
                margin: 0;
              }
            }

            .text {

              p {

              }
            }
          }

          .bottom {
            padding: 0 80px;
            margin-top: -94px;
            .icon {
              width: 100%;
              min-height: 316px;
            }
          }
        }
      }
    }
  }
  .products-block {
    padding: 256px 0;
    background: $greener;
    @include breakpoint(1024) {
      padding: 80px 0 208px 0;
    }
    .wrapper {

      .title {
        margin-bottom: 126px;
        h2 {
          @include font(60px, $white, bold, 1.2);
          margin: 0;
        }
      }

      .products {
        padding-right: calc(100% / 12 * 1);
        @include breakpoint(1440) {
          padding-right: 0;
        }
        ul {
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          gap: calc(100% / 12 * 1);
          row-gap: 80px;
          @include breakpoint(1024) {
            gap: 16px;
            row-gap: 40px;
          }
          li {
            list-style: none;
            width: calc(100% / 12 * 3);
            display: flex;
            @include breakpoint(1024) {
              width: calc(50% - 8px);
            }
            @include breakpoint(768) {
              width: 100%;
            }
            .left {

              .icon {
                width: 95px;
                height: 104px;
                opacity: 60%;
              }
            }

            .right {
              display: flex;
              flex-direction: column;
              width: 100%;
              margin-left: 50px;
              .name {
                opacity: 60%;
                margin-bottom: 6px;
                h3 {
                  color: $white;
                  margin: 0;
                  line-height: 1.3;
                }
              }

              .btn {
                background: $white;
                color: $greener;
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0;
                max-width: 128px;
                opacity: 80%;
                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
  .carousel-block {
    padding-bottom: 280px;
    margin-top: -128px;
    position: relative;
    overflow: hidden;
    .lego-block {
      position: absolute;
      top: 23%;
      left: 14%;
      z-index: -1;
      img {
        width: 812px;
        height: auto;
      }
    }
    .wrapper {
      width: 93.5%;
      margin: 0 0 0 auto;
      .owl-carousel-eco {
        overflow: hidden;
        .owl-stage-outer {

          .owl-stage {
            display: flex;
            .owl-item {

              .item {
                width: 536px;
                height: 380px;
              }
            }
          }
        }
        .owl-nav {
          display: flex;
          justify-content: flex-end;
          margin-right: 6.5%;
          margin-top: 47px;
          gap: 18px;
          button {
            background: transparent;
            border: none;
            padding: 0;
          }
        }
      }
    }
  }
  .background-block {
    padding: 256px 0;
    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo {
        margin-bottom: 56px;
        .icon {

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      .title {

        h2 {
          margin: 0;
          @include font(60px, $white, bold, 1.2);
        }
      }
    }
  }
}