.page-shop {
  .top-block {
    padding: 80px 0 0 0;
    @include breakpoint(1440) {
      padding: 100px 0;
    }
    .container-fluid {

      .row {

        .col-md-6 {
          h1 {}
          .sub-heading{
            color: $white;
            font-weight: 400;
            padding-bottom: 80px;
            max-width: 450px;
          }
        }
      }
    }
  }
  .filter {
    padding: 50px 0;
    .wrapper {
      width: 86%;
      ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        li {
          margin-right: 16px;
          padding: 0;
          label {
            position: relative;
            display: flex;
            align-items: center;
            select {
              padding: 22px 76px 22px 38px;
              border: 1px solid #C8C8C8;
              @include font(18px, #969696, 400, 1);
              -webkit-appearance: none;
              -moz-appearance: none;
              text-indent: 1px;
              text-overflow: '';
            }
            &:before {
              content: '';
              border: solid #777777;
              border-width: 0 1px 1px 0;
              display: inline-block;
              padding: 4px;
              transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              position: absolute;
              right: 38px;
              top: initial;
            }
          }
        }
      }
    }
  }
  .product-block {
    padding: 100px 0;
    .container-fluid {

      .row {
        display: flex;
        flex-wrap: wrap;
        .col-xl-4 {
          margin-bottom: 16px;
          padding-right: 8px;
          padding-left: 8px;
          a {
            text-decoration: none;
            display: flex;
            flex-wrap: wrap;
            background: #F4F4F4;
            height: 100%;
            padding: 35px;
            @include breakpoint(768) {
              padding: 30px;
            }
            .top {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              .image {
                width: 100%;
                height: 180px;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                  }
              }
              h3 {
                margin:25px 0 0 0;
                @include font-size(26px);
                font-weight: 700;
                line-height: 1.2;
                @include breakpoint(1440) {
                  @include font-size(22px);
                }
                @include breakpoint(768) {
                  min-height: auto;
                }

              }
              .additional-desc {
                width: 100%;
                margin-bottom: 0;
              }
              .meta {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                @include breakpoint(1440) {
                }

                .meta-single {
                  width: 100%;
                  background: #F4F4F4;
                  padding: 0;
                  margin-bottom: 18px;
                  @include breakpoint(1680) {
                  }
                  @include breakpoint(992) {
                    width: calc(100% / 3);
                  }
                  @include breakpoint(768) {
                    width: 100%;
                  }
                  p{
                    @include font(15px, #969696, 400, 1);
                    margin: 0 0 10px 0;
                  }
                  span {
                    @include font(24px, $green, 700, 1);
                    display: inline-block;
                    @include breakpoint(1440) {
                      @include font-size(20px);
                    }
                    @include breakpoint(992) {
                      @include font-size(16px);
                    }
                    del {
                      display: none;
                    }
                  }
                  .woocommerce-price-suffix {
                    @include font(17px, $green, 300, 1);
                  }
                }
              }
            }

            .bottom {
              background: #F4F4F4;
              width: 100%;
              @include breakpoint(1680) {
              }
              h3 {
                margin: 0;
                @include font(12px, #969696, 400, 1);
              }
              .btn {
                background: $green;
                color: $white;
                padding: 12px 60px;
                margin-top: 15px;
                border-radius: 0;
                border: 2px solid $green;
                @include transition(all, 0.2s);
                &:hover {
                  background: transparent;
                  border: 2px solid $green;
                  color: $green;
                }
              }
            }
          }
          .add-to-cart {
            padding-left: 45px;
            @include breakpoint(992) {
              padding-left: 30px;
            }
            @include breakpoint(768) {
              padding-left: 15px;
            }
            h3 {}
            .link {
              display: flex;
              align-items: center;
              @include font(20px, $green, 700, 1);
              @include breakpoint(1280) {
                @include font-size(20px);
              }
              &:before {
                content: '+';
                color: $green;
                font-size: 32px;
                margin-right: 15px;
              }
            }
          }
        }
      }
    }
  }

  .partner-block {

    .container-fluid {

      .row {

        .col-md-6 {

          h2 {

          }

          p {

          }
        }
      }
    }
  }
}

