.page-about {

  .top-block {
    background: #F7F7F7;
    padding-top: 120px;
    padding-bottom: 75px;
    @include breakpoint(992) {
      padding-top: 75px;
    }
    .container-fluid {
      padding:  0 0 0 5%;
      @include breakpoint(1440) {
        padding: 0;
      }
      .row {

        .left {
          padding-right: 130px;
          @include breakpoint(1440) {
            padding-right: 70px;
          }
          @include breakpoint(992) {
            padding-right: 0;
          }
          h1 {
            color: $black;
          }

          .text {
            p {
              @include font(20px, $black, 400, 1.3);
              opacity: 0.6;
              margin: 36px 0;

            }
          }
          ul {
            list-style: none;
            padding: 0 0 50px 0;
            margin: 0;
            li {
              position: relative;
              padding-left: 140px;
              margin-bottom: 60px;
              @include breakpoint(1680) {
                padding-left: 100px;
              }
              @include breakpoint(1440) {
                margin-bottom: 35px;
              }
              @include breakpoint(992) {
                padding-left: 70px;
              }
              &:last-of-type {
                margin-bottom: 0;
              }
              &:before {
                content: '';
                width: 53px;
                height: 53px;
                background: url("../images/icon-plus.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 0;
                @include breakpoint(992) {
                  width: 33px;
                  height: 33px;
                }
              }
              h3 {
                @include font(30px, $black, 400, 1.3);
                margin: 0 0 30px 0;
              }

              p {
                @include font(18px, $black, 400, 1.3);
                opacity: 0.6;
                margin: 0;
              }
            }
          }
        }
        .right {

        }
      }
    }
  }

  .list-block {
    background: #F7F7F7;
    padding-top: 160px;
    padding-bottom: 75px;
    @include breakpoint(992) {
      padding: 75px 0;
    }
    .container-fluid {
      padding: 0 5%;
      @include breakpoint(992) {
        padding: 0;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        .left {
          padding-right: 130px;
          margin-top: -300px;
          @include breakpoint(1680) {
            padding-right: 30px;
          }
          @include breakpoint(1280) {
            margin-top: -120px;
            padding-bottom: 30px;
          }
          @include breakpoint(992) {
            margin-top: 0;
            padding-right: 0;
            padding-bottom: 50px;

          }
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              position: relative;
              padding-left: 140px;
              margin-bottom: 60px;
              @include breakpoint(1440) {
                padding-left: 100px;
              }
              @include breakpoint(992) {
                padding-left: 70px;
              }
              &:last-of-type {
                margin-bottom: 0;
              }
              &:before {
                content: '';
                width: 53px;
                height: 53px;
                background: url("../images/icon-plus.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 0;
                @include breakpoint(992) {
                  width: 33px;
                  height: 33px;
                }
              }
              h3 {
                @include font(30px, $black, 400, 1.3);
                margin: 0 0 30px 0;
              }

              p {
                @include font(20px, $black, 400, 1.3);
                opacity: 0.6;
                margin: 0;
              }
            }
          }
        }
        .right {
          @include breakpoint(992) {
            width: 100%;
          }
          .photo {
            display: none;
            margin-bottom: -100px;
            @include breakpoint(992) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  .about-block {
    padding: 75px 0 165px 0;
    @include breakpoint(1280) {
      padding: 140px 0 56px 0;
    }
    @include breakpoint(992) {
      padding: 75px 0;
    }
     .container-fluid {
      padding: 0 5% 0 0;
      @include breakpoint(1280) {
        padding: 0;
      }
      .row {
        @include breakpoint(992) {
          display: flex;
          flex-wrap: wrap;
        }
        .col-md-6 {

          .photo {

          }
          h2 {
            color: $black;
            @include font-size(60px);
            @include breakpoint(1680) {
              @include font-size(50px);
            }
            @include breakpoint(1280) {
              @include font-size(42px);
            }
            @include breakpoint(992) {
              margin: 0 0 35px 0;
            }
            @include breakpoint(768) {
              @include font-size(36px);
            }
          }
          .text {
            p {
              @include font(20px, $black, 400, 1.3);
              opacity: 0.6;
              margin: 36px 0;
            }
          }
        }
        .left{
          padding-right: 130px;
          @include breakpoint(1440) {
            padding-right: 50px;
          }
          @include breakpoint(992) {
            order: 2;
            padding-right: 0;
            width: 100%;
          }
        }
        .right {
          @include breakpoint(992) {
            order: 1;
          }
        }
      }
    }
  }

  .partner-block {

    .container-fluid {

      .row {

        .col-md-6 {

          h2 {

          }
          .text {
            p {

            }
          }
          }

      }
    }
  }
}