.page-quality {

  .top-block {
    background: #F7F7F7;
    padding: 130px 0 160px 0;
    @include breakpoint(1280) {
      padding: 75px 0;
    }
    .container-fluid {
      padding: 0 5%;
      @include breakpoint(1280) {
        padding: 0;
      }
      .row {
        @include breakpoint(1280) {
          display: flex;
          flex-wrap: wrap;
        }
        .col-md-6 {
          padding-right: 100px;
          @include breakpoint(1680) {
            padding-right: 0;
          }
          @include breakpoint(1280) {
            width: 100%;
            margin-bottom: 35px;
          }
          h1 {
            color: $black;
            margin:  0 0 60px 0;
            @include breakpoint(1680) {
              margin: 0 0 35px 0;
            }
          }

          p {
            @include font(20px, $black, 400, 1.3);
            opacity: 0.6;
            margin: 36px 0;
          }

          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              display: flex;
              flex-direction: row;
              align-items: flex-start;
              padding-right: 140px;
              margin-bottom: 35px;
              @include breakpoint(1680) {
                padding-right: 50px;
              }
              @include breakpoint(1280) {
                padding-right: 0;
              }
              &:last-of-type{
                margin-bottom: 0;
              }
              span {
                -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $green;
                font-size: 50px;
                margin-right: 43px;
                @include breakpoint(1440) {
                  @include font-size(40px);
                }
                @include breakpoint(1280) {
                  margin-right: 30px
                }
              }
              p {
                margin: 0;
                @include font(20px, $black, 400, 1.3);
              }
            }
          }
        }

        .col-md-1 {

        }

        .col-md-5 {
          @include breakpoint(1280) {
            width: 100%;
          }
          .photo {
            &:after {

              @include breakpoint(1280)  {
                padding-top: 40%;
              }
            }
          }
        }
      }
    }
  }

  .assurance-block {
    padding: 150px 0;
    @include breakpoint(1440) {
      padding: 100px 0;
    }
    @include breakpoint(992) {
      padding: 50px 0;
    }
    .container-fluid {
      padding: 0 5%;
      @include breakpoint(1440) {
        padding: 0;
      }
      .row {

        .col-md-5 {

          h2 {
            @include font-size(60px);
            margin:  0 0 85px 0;
            @include breakpoint(1680) {
              @include font-size(50px);
            }
            @include breakpoint(1280) {
              @include font-size(42px);
              margin: 0 0 35px 0;
            }
            @include breakpoint(992) {

            }
            @include breakpoint(768) {
              @include font-size(36px);
            }
          }

          .text {
            p {
              @include font(20px, $black, 400, 1.3);
              opacity: 0.6;
              margin: 36px 0;

            }
          }
          ul {
            list-style: none;
            padding: 0 150px 0 0;
            margin: 0;
            @include breakpoint(1680) {
              padding: 0 50px 0 0;
            }
            li {
              position: relative;
              padding-left: 100px;
              margin-bottom: 30px;
              display: flex;
              align-items: center;
              @include breakpoint(1680) {
                padding-left: 50px;
              }
              &:last-of-type {
                margin-bottom: 0;
              }
              &:before {
                content: '';
                width: 27px;
                height: 27px;
                background: url("../images/icon-plus.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 0;
              }
              h3 {
                @include font(30px, $black, 400, 1.3);
                margin: 0 0 30px 0;
                @include breakpoint(1680) {
                  @include font-size(26px);
                }
                @include breakpoint(992) {
                  @include font-size(22px);
                }
              }

              p {
                @include font(20px, $black, 400, 1.3);
                opacity: 0.6;
                margin: 0;
              }
            }
          }
        }

        .col-md-2 {

        }
      }
    }
  }
}