.woocommerce-checkout {
  .woocommerce-shipping-fields{
    display: none;
  }
  .col-1 {
    background: #F7F7F7;
    padding: 80px;
    @include breakpoint(1680) {
      padding: 70px;
    }
    @include breakpoint(1440) {
      padding: 35px;
    }
    @include breakpoint(992) {
      width: 100% !important;
      padding: 15px;
    }

    .woocommerce-billing-fields {
      .woocommerce-billing-fields__field-wrapper {
        .form-row {
          label {

          }

          span {
            input {
              padding: 20px 25px;
              border: 1px solid #C0C0C0;
              font-size: 20px;
              @include breakpoint(768) {
                padding: 10px 20px;
                @include font-size(18px);
              }
            }
          }
          &.wooccm-field-wooccm11{
            .woocommerce-input-wrapper{
              label{
                input {
                  position: relative;
                }
              }
            }
          }
        }
      }

      .sg-checkout-location-picker-wrapper {
        .sg-map-title {
          @include font(25px, $black, 500, 1);
        }

        .sg-container {
          input {
            border: 0;
            background: none;
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
      }
    }

    .delivery-notification {
      h3 {
        @include font(25px, $black, 500, 1);
      }

      ol {
        margin: 0;

        li {
          margin-bottom: 5px;
          @include font(20px, $green, 400, 1);
        }
      }
    }
  }

  .col-2 {
    padding: 80px;
    @include breakpoint(1680) {
      padding: 70px;
    }
    @include breakpoint(1440) {
      padding: 35px;
    }
    @include breakpoint(992) {
      width: 100% !important;
      padding: 0px;
    }

    .woocommerce-additional-fields {
      .woocommerce-additional-fields__field-wrapper {
        textarea {
          padding: 20px 25px;
          font-size: 20px;
        }
      }
    }

    .woocommerce-checkout-review-order {
      .order-total {
        .woocommerce-Price-amount {
          &:after {
            content: '  koos maksudega';
          }
        }
      }
      .cart_item {
        &:nth-of-type(2) {
          .product-quantity {
            display: none;
          }
        }

        .product-name {
          font-size: 20px;

          .variation {
            display: flex;
            flex-direction: column;
            .variation-Trukm {
              display: none !important;
            }

            p {
              font-size: 16px;
              margin: 0 0 15px 0;
            }
          }
        }
        .product-total{
          .custom-price-display{
            .net-price{
              .additional-info{
                strong{
                  display: block;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .woocommerce-checkout-payment {
        background: $white !important;
        border-top: 1px solid #d3ced2;
        .wc_payment_methods {
          .wc_payment_method {
            margin-bottom: 15px !important;
            input {
              visibility: hidden;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              width: 30px;
              height: 30px;
              cursor: pointer;

              &:after {
                width: 30px;
                height: 30px;
                border-radius: 15px;
                position: relative;
                background-color: transparent;
                content: '';
                display: inline-block;
                visibility: visible;
                border: 2px solid #969696;
              }

              &:before {
                content: '';
                width: 10px;
                height: 10px;
                background: $green;
                display: block;
                border-radius: 100%;
                position: absolute;

              }

              &:checked {
                &:before {
                  visibility: visible;
                }
              }
            }

            label {
              @include font(20px, $black, 400, 1);
            }
          }
        }

        .place-order {
          .woocommerce-terms-and-conditions-wrapper {
            .validate-required {
              label {
                line-height: 1.3;
                display: flex;
                align-items: flex-start;

                input {
                  margin: 0 8px 0 0;
                  position: relative;
                  @include breakpoint(1024) {
                    width: 25px;
                    height: 25px;
                  }
                }

                .woocommerce-terms-and-conditions-checkbox-text {
                  @include font(14px, $black, 400, 1.3);
                  @include breakpoint(1024) {
                    width: calc(100% - 30px);
                  }
                  a {
                    @include font(14px, $green, 400, 1.3);
                  }
                }
              }
            }
          }

          #place_order {
            width: 100%;
            margin-top: 55px;
            background: $green;
            color: $white;
            padding: 20px 65px;
            border-radius: 0;
            border: 2px solid $green;
            font-size: 20px;
            @include transition(all, 0.2s);

            &:hover {
              background: transparent;
              border: 2px solid $green;
              color: $green;
            }
          }
        }
      }
    }
  }
}

.woocommerce form.checkout_coupon {
  display: block !important;
  border: none;
  margin: 0;
  width: 30%;
  @include breakpoint(1024) {
    width: 100%;
  }
  p {
    font-size: 20px;
    color: $black;
    .input-text {
      padding: 20px 25px;
      border: 1px solid #C0C0C0;
      font-size: 20px;
    }

    .button {
      background: #039C57;
      color: #fff;
      padding: 11px 40px;
      border-radius: 0;
      border: 2px solid #039C57;
      font-size: 20px;
    }
  }
}

.woocommerce-info {
  display: none;
}