.betono-blokeliai.product {
  .container-fluid {
    padding-bottom: 80px;

    .col-md-5 {
      margin-bottom: 90px;
      @include breakpoint(1024) {
        margin-bottom: 35px;
      }
      .single-wrap {
        display: flex;
        flex-wrap: wrap;
        @include breakpoint(1024) {
          padding: 30px;
          background: #E5E5E5;
        }

        .top {
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          .meta {
            width: 60%;
            display: flex;
            flex-wrap: wrap;
            @include breakpoint(1024) {
              width: 100%;
              flex-direction: column;
            }
            .meta-single {
              width: 100%;
              background: #E5E5E5;
              padding: 30px 15px 30px 45px;
              display: flex;
              flex-direction: column;
              @include breakpoint(1024) {
                width: 100%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
              }

              p {
                @include font(20px, $black, 400, 1);
                @include breakpoint(1024) {
                  @include font(14px, #969696, 400, 1);
                }
              }

              span {
                @include font(20px, $green, 700, 1);
                @include breakpoint(1024) {
                  @include font-size(22px);
                }
              }
            }
          }

          .image {
            width: 40%;
            background: #E5E5E5;
            display: flex;
            align-items: center;
            justify-content: center;
            @include breakpoint(992) {
              width: 100%;
            }

            img {
              max-width: 100%;
              height: auto;
            }
          }
        }

        .bottom {
          background: #E5E5E5;
          width: 100%;
          padding: 30px 15px 30px 45px;
          @include breakpoint(1024) {
            display: flex;
            flex-direction: column;
            padding: 30px 0 0 0;
          }

          h3 {
            margin: 0;
            opacity: 0.6;
            @include font(18px, $black, 400, 1);
            @include breakpoint(1024) {
              @include font-size(12px);
            }
          }

          a.btn {
            margin-top: 25px;
            background: $green;
            color: $white;
            padding: 10px 65px;
            border-radius: 0;
            border: 2px solid $green;
            @include transition(all, 0.2s);
            @include font-size(18px);
            &:hover {
              background: transparent;
              border: 2px solid $green;
              color: $green;
            }
          }
        }
      }

      .manufacturer {
        color: #668073;
        font-size: 25px;
        @include breakpoint(1024) {
          @include font-size(18px);
        }
        img {
          margin-left: 30px;
          width: 43px;
        }
      }

      .prev-title {
        @include font(30px, $black, 500, 1.3);
        @include breakpoint(1280) {
          @include font-size(27px);
          font-weight: 700;
        }
        @include breakpoint(1024) {
          margin: 0;
          font-weight: 700;
          line-height: 1.2;
        }
      }

      .toggle-text {
        @include breakpoint(768) {
          display: flex;
        }
        display: none;
        align-items: center;
        margin: 0 auto;
        background: #F9F9F9;
        padding: 18px 30px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        @include transition(all, 0.2s);
        img {
          transform: rotate(90deg);
          height: 16px;
          width: auto;
        }
        p {
          margin: 0;
        }
        &.active {
          img {
            transform: rotate(-90deg);
          }

        }
      }
    }

    .col-md-6 {
      background: #F7F7F7;
      padding: 80px;
      @include breakpoint(1440) {
        padding: 75px;
      }
      @include breakpoint(992) {
        background: transparent;
        padding: 0;
      }
      .summary{
        width: 100%;
        .price {
          display: none;
        }
      }
      .variations {
        width: 100%;
        position: relative;
        display: table !important;
        @include breakpoint(992) {
          background: #F7F7F7;
          padding: 30px;
          display: flex;
          border-top: 3px solid $green;
          z-index: 3;
        }
        tbody {
          @include breakpoint(992) {
            &:before {
              content: '1/9';
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 80px;
              width: 104px;
              background: #FFFFFF;
              color: #DFDFDF;
              @include font-size(26px);
              font-weight: 700;
              border-bottom-left-radius: 100%;
              right: 0px;
              padding-left: 22px;
              top: 0px;
              z-index: 0;
            }
          }
        }
        tr {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          @include breakpoint(1024) {
            flex-direction: column;
            margin-bottom: 36px;
            &:last-of-type {
              margin-bottom: 0;
            }
          }

          .label {
            width: 40%;
            @include breakpoint(992) {
              width: 100%;
            }
            label {
              @include font(25px, $black, 500, 1);
              @include breakpoint(1440) {
                @include font-size(22px);
              }
              @include breakpoint(1024) {
                @include font-size(21px);
                font-weight: 700;
                margin-bottom: 11px;
              }
            }
          }

          .value {
            width: 60%;
            @include breakpoint(992) {
              width: 100%;
            }
            div {
              margin-bottom: 10px;
              display: flex;
              align-items: center;

              label {
                @include font(20px, $black, 400, 1);
                margin-left: 35px;
                margin-bottom: 0;
                cursor: pointer;
                @include breakpoint(1024) {
                  @include font-size(16px);
                  margin-left: 10px;
                }
              }

              input {
                visibility: hidden;

                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                cursor: pointer;
                -moz-appearance: initial;

                &:after {
                  content: '';
                  width: 30px;
                  height: 30px;
                  border-radius: 15px;
                  position: relative;
                  background-color: transparent;
                  display: block;
                  visibility: visible;
                  border: 2px solid #969696;
                }

                &:before {
                  content: '';
                  width: 10px;
                  height: 10px;
                  background: $green;
                  display: block;
                  border-radius: 100%;
                  position: absolute;

                }

                &:checked {
                  &:before {
                    visibility: visible;
                  }
                }
              }

              @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                input {
                  visibility: visible;
                }
              }
            }
          }
        }
      }

      .reset_variations {
        display: none;
      }

      .single_variation_wrap {
        @include breakpoint(992) {
          background: #F7F7F7;
          padding: 30px;
          border-top: 3px solid $green;
          z-index: 3;
          margin-top: 35px;
          position: relative;
          &:before {
            content: '2/9';
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            width: 104px;
            background: #FFFFFF;
            color: #DFDFDF;
            @include font-size(26px);
            font-weight: 700;
            border-bottom-left-radius: 100%;
            right: 0px;
            padding-left: 22px;
            top: 0px;
            z-index: 0;
          }
        }
        .woocommerce-variation {
          .woocommerce-variation-description {
            display: none;
          }
          .price {
            width: 100%;
            border-bottom: 1px solid #C2C2C2;
            margin-bottom: 38px;
            display: flex;
            padding-left: 40%;
            @include breakpoint(992) {
              padding-left: 0;
              border-bottom: 0;
              margin-bottom: 0;
              margin-top: 45px;
            }
            del{
              display: none;
            }
            ins {
              text-decoration: none;
            }
            .woocommerce-Price-amount {
              @include font(40px, $black, 500, 1);
              display: block;
              margin: 0;
              padding-bottom: 25px;
              @include breakpoint(992) {
                @include font-size(30px);

              }

              bdi {
                display: flex;
                flex-wrap: wrap;
                @include breakpoint(992) {
                  &:before {
                    content: 'Kaina: ';
                  }
                }

                .woocommerce-Price-currencySymbol {
                  order: 2;
                  margin-left: 10px;
                  display: flex;
                  font-weight: 300;
                  align-items: flex-start;

                  &:after {
                    content: '/tk.';
                  }

                  span {
                    font-size: 20px;
                  }
                }
              }
            }

            .woocommerce-price-suffix {
              @include font(40px, $black, 300, 1);
              margin-left: 15px;
              @include breakpoint(992) {
                @include font-size(30px);
              }
            }
          }

        }

        .woocommerce-variation-add-to-cart {
          .quantity {
            @include font(40px, $black, 300, 1);
            padding: 38px 0;
            @include breakpoint(992) {
              @include font-size(30px);
            }

            input[type="number"] {
              background: transparent;
              border: none;
              @include font(40px, $black, 500, 1);
              border-bottom: 1px solid grey;
              width: 77px;
              text-align: center;
              @include breakpoint(992) {
                @include font-size(30px);
              }
            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {

            }

            .input-setup {
              display: none;
              @include font(40px, $black, 500, 1);
              cursor: pointer;
              text-decoration: none;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              -o-user-select: none;
              user-select: none;
            }

            .screen-reader-text {
              height: auto;
              width: 40%;
              @include font(25px, $black, 500, 1);
              overflow: visible;
              position: relative !important;
              clip: auto;
              @include breakpoint(992) {
                width: auto;
                margin-right: 15px;
              }
            }
          }
          #product_total_price {
            @include font(25px, $black, 500, 1);
            display: block;
            margin: 0 0 0 auto;
            padding-bottom: 25px;
            border-bottom: 1px solid #C2C2C2;
            padding-left: 40%;
            @include breakpoint(992) {
              padding-left: 0;
            }
            .price {
              @include font(40px, $black, 500, 1);
              border: none;
              width: auto;
              padding: 0;
              display: inline-block;
              @include breakpoint(992) {
                @include font-size(30px);
              }

              &:after {
                content: 'hinnad koos KM-ga';
                font-weight: 300;
                margin-left: 15px;
              }
            }
          }
          .single_add_to_cart_button {
            width: 100%;
            padding: 25px;
            @include font(20px, $white, 500, 1);
            background: $green;
            border: none;
            margin-top: 35px;
          }
        }
      }
    }
  }



}

.postid-4130 {
  &.logged-in .variations {
    display: inline-table;
  }
}

//#product-84,
//#product-96,
//#product-100,
//#product-796,
//#product-808,
//#product-806,
//#product-804,
//#product-1528{
//  .variations {
//    display: none !important;
//  }
//}

.popup-modal {
  color: $green;
  text-decoration: none;
  @include transition(all, 0.4s);
  margin-bottom: 35px;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

#skaiciuokle {
  max-width: 600px;
  margin: 0 auto;
}


// smelbetonio stilius

.betonas.product.product_cat-betono_blokeliai .container-fluid .col-md-6 .single_variation_wrap:before {
  @include breakpoint(992) {
    content: '1/9';
  }

}
.pristatymas.product.product_cat-betono_blokeliai .container-fluid .col-md-6 .yith-wcbk-form-section-services-wrapper .yith-wcbk-booking-form__label {
  display: none;
}
.price-roast-atsiimti-punkte {
  background: #F7F7F7;
  padding: 25px;
}

.custom-delivery {
  @include breakpoint(992) {
    background: #F7F7F7;
    padding: 0 25px;
  }
  &.first {
    @include breakpoint(992) {
      border-top: 3px solid $green;
      padding-top: 45px;
      position: relative;
      &:before {
        content: '2/9';
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 104px;
        background: #FFFFFF;
        color: #DFDFDF;
        @include font-size(26px);
        font-weight: 700;
        border-bottom-left-radius: 100%;
        right: 0px;
        padding-left: 22px;
        top: 0px;
        z-index: 0;
      }

    }
  }
  &.second {
    margin-bottom: 35px;
  }
}

